@font-face {
    font-family: 'Titan One';
    src: url('fonts/TitanOne.woff2') format('woff2'),
        url('fonts/TitanOne.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    background: black;
    color: white;
}

#TextContainer {
    width: 100%;
    position: absolute;
    top: 50%;
    text-align: center;
    color: red;
    transform: translateY(-50%);
}

#hour, #min, #sec {
    font-family: "Titan One";
    font-weight: bold;
}
#hour, #min {
    font-size: 120%;
}

#sign {
    font-family: "Titan One";
    font-size: 120%;
}

#TextCell {
    font-size: 100%;
    display: inline;
   /* visibility: hidden; */
}
